.body{
  overflow-x: hidden;
}

.homehead{
  
  margin-top: 300px;
 
}
.homehead2{
    /* width:1406px;
    height:319px; */
    margin-top:10px;
    /* margin-left:-230px; */
    font-size: 110px;
}
@media screen and (max-width: 1000px) {
    
    /* .homehead{
        width: 100% ;
        height: 90px;
        margin-top: 300px;
        margin-left: 260px;
      } */
  }

  @media screen and (max-width: 600px) {
    
    /* .homehead{
        width: 100% ;
        height: 90px;
        margin-top: 300px;
        margin-left: 260px;
      } */
      .homehead{
  
        margin-top: 200px;
       
      }
      .homehead2{


        font-size: 80px;

      }
  }

  .aboutbox{
   
    border-radius: 42px;
    margin-top: 50px;
    margin-left:15px ;
    margin-right: 15px;
    background-color: rgba(38, 121, 133, 0.3);
    
    
    

  }

  .aboutboxcontent{
    margin-top:21px;
    
    margin-left:10px;
    font-size:18px;
    margin-right:10px;
    margin-bottom: 60px;
  }

  .termbox{

    border-radius: 42px;
    margin-top: 50px;
    margin-left:15px ;
    margin-right: 15px;
    background-color: rgba(67, 0, 36, 0.3);


  }

  .why{
    margin-top: 120px;
    
  }
  .whybox{
   height: auto ;
    background-color:rgba(0, 57, 98, 0.3);
    border-radius:24px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
  }
  .whyboxcontent{
    margin-top:15px;
    margin-left:10px;
    margin-right:10px;
  }

  .abouthead{
    margin-top: 10px;
    text-align: center;
    
  
    height: 40px;
   
  }

  


  @media screen and (min-width: 1000px) {

    .abouthead{
      width: 344px;
      height: 80px;
      margin-top: 80px;
      margin-left: 87px;
    }
    
    .homehead{
        width: 400px;
        height: 90px;
        margin-top: 300px;
        margin-left: 260px;
      }
      .homehead2{
        width:1406px;
        height:319px;
        margin-top:10px;
        margin-left:-230px;
        font-size: 110px;
    }

  .aboutbox{
    width: 1113px;
    height: 780px;
    border-radius: 42px;
    margin-top: 180px;
    margin-left:120px ;
    background-color: rgba(38, 121, 133, 0.3);
    
    

  }
  .termbox{

    width: 1113px;
    height: 680px;
    border-radius: 42px;
    margin-top: 180px;
    margin-left:120px ;
    background-color: rgba(67, 0, 36, 0.3);


  }
  .aboutboxcontent{
    margin-top:21px;
    padding:10px;
    margin-left:40px;
    font-size:28px;
    margin-right:99px;
  }
 

  .whybox{
    width: 300px;
    height: 300px;
    background-color:rgba(0, 57, 98, 0.3);
    border-radius:24px
  }

  .whyboxcontent{
    margin-top:15px;
    margin-left:30px;
    margin-right:30px;
  }
  /* .footer{
    margin-top: 120px;
 } */
 
  }



  /* style={{"marginTop":"119px","marginLeft":"130px"}} */


.hlink{
  color: #007296;
}

.alink{
  color: #267985;

}
  
.tlink{
  color:#430024;
}

.mlink{
  color: #737779;
}

.wlink{
  color: #003962;
}

.poppara{
  font-family: 'Poppins', sans-serif;
}